html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  cursor: default;
}

button {
  cursor: pointer;
}

[data-whatinput="mouse"] :focus,
[data-whatinput="touch"] :focus {
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}

iframe {
  border: 0;
}

body,
button,
input {
  margin: 0;
}

button::-moz-focus-inner {
  padding: 0;
}

svg {
  vertical-align: middle;
}

@font-face {
  font-family: Proxima Nova;
  src: url("../fonts/proxima-nova-n4.woff2") format("woff2"), url("../fonts/proxima-nova-n4.woff") format("woff");
}

@font-face {
  font-family: Proxima Nova;
  font-weight: 600;
  src: url("../fonts/proxima-nova-n6.woff2") format("woff2"), url("../fonts/proxima-nova-n6.woff") format("woff");
}

html {
  background: #ffffff;
  color: #34495e;
  font-family: Proxima Nova, sans-serif;
  font-size: 0.875em;
  line-height: 1;
}

@media screen and (min-width: 80em) {
  html {
    font-size: calc(0.875em + 0.25 * (100vw - 80em) / 40);
  }
}

@media screen and (min-width: 120em) {
  html {
    font-size: 1.125em;
  }
}

.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.button {
  background: #bdc3c7;
  border-radius: 0.25em;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  line-height: inherit;
  padding: 0;
  text-transform: uppercase;
}

.button--small {
  min-width: 3.75em;
  padding: 0.5em 0.75em;
}

.button--medium {
  min-width: 7.5em;
  padding: 0.75em 1.125em;
}

.button--submit {
  background: #3498db;
  color: #ffffff;
}

.text-input {
  border-radius: 0.25rem;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.text-input::-webkit-input-placeholder {
  color: #9aa4af;
  opacity: 1;
}

.text-input::-moz-placeholder {
  color: #9aa4af;
  opacity: 1;
}

.text-input:-ms-input-placeholder {
  color: #9aa4af;
  opacity: 1;
}

.text-input::placeholder {
  color: #9aa4af;
  opacity: 1;
}

.text-input--small {
  height: 2em;
  padding: 0 0.5em;
}

.text-input--medium {
  font-size: 1.25em;
  height: 2.5rem;
  padding: 0 0.625rem;
}

.header {
  background: #ecf0f1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  padding: 1.25em 2.5em;
}

.main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  overflow: auto;
}

.main__wrap {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  padding: 2.5em 0 0 2.5em;
}

.main__wrap--stretch {
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
              -ms-grid-row-align: stretch;
          align-items: stretch;
}

.toolbar {
  box-shadow: 0 0.125em 0.25em rgba(52, 73, 94, 0.25);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  padding: 1.25em 2.5em;
}

.device {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  padding: 0 2.5em 2.5em 0;
}

.main__wrap--stretch .device {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.device__wrap {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.device-height {
  margin-left: auto;
}

.dropdown {
  background: #ffffff;
  border-radius: 0.25em;
  border: 1px solid #bdc3c7;
  box-shadow: 0 0.125em 0.25em rgba(52, 73, 94, 0.25);
  overflow: hidden;
  position: absolute;
}

.dropdown--device {
  width: 17.5em;
}

.logo__type {
  height: 2.5em;
  width: 13.05875em;
}

.menu {
  max-height: 20em;
  overflow-y: auto;
}

.menu__title {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #95a5a6;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.625em 1.25em;
  text-align: center;
  text-transform: uppercase;
}

.menu__title::before, .menu__title::after {
  border-top: 1px solid #bdc3c7;
  content: "";
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
}

.menu__title::before {
  margin-right: 0.625em;
}

.menu__title::after {
  margin-left: 0.625em;
}

.menu-list {
  margin: 0.625em 0;
}

.menu-list__item {
  cursor: pointer;
  padding: 0.625em 1.25em;
  white-space: nowrap;
}

.menu-list__item:hover {
  background: #ecf0f1;
}

.menu-list__title {
  margin-bottom: 0.25em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-list__description {
  color: #95a5a6;
  font-size: 0.75em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.625em 1.25em;
}

.search__title {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  color: #95a5a6;
  font-size: 0.75em;
  margin-bottom: 0.625rem;
}

.search__text-input {
  background: #ecf0f1;
}

.source {
  margin-left: 2.5em;
}

.source__wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.source__text-input {
  width: 30rem;
}

.source__button {
  margin-left: 0.625em;
}

.tools {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tools__title {
  color: #95a5a6;
  margin-right: 0.625em;
}

.tools__group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tools__group:not(:last-child) {
  margin-right: 0.625em;
}

.tools__button {
  border-radius: 0;
}

.tools__button:first-child {
  border-bottom-left-radius: 0.25em;
  border-top-left-radius: 0.25em;
}

.tools__button:last-child {
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.tools__button:not(:last-child) {
  margin-right: 1px;
}

.viewport {
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #ecf0f1 25%, transparent 25%, transparent 75%, #ecf0f1 75%), linear-gradient(45deg, #ecf0f1 25%, transparent 25%, transparent 75%, #ecf0f1 75%);
  background-position: 0 0, 0.5em 0.5em;
  background-size: 1em 1em;
  border: 1px solid #bdc3c7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  margin-top: 1.25em;
}

.main__wrap--stretch .viewport__frame {
  height: auto !important;
  min-height: 100%;
}
/*# sourceMappingURL=styles.css.map */