html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  cursor: default;
}

[data-whatinput="mouse"] :focus,
[data-whatinput="touch"] :focus {
  outline: 0;
}

iframe {
  border: 0;
}

button,
input {
  font-family: inherit;
}

button,
input {
  font-size: inherit;
}

body,
button,
input {
  margin: 0;
}

iframe,
svg {
  vertical-align: middle;
}

@font-face {
  font-family: Proxima Nova;
  src: url("../fonts/proxima-nova-n4.woff2") format("woff2"), url("../fonts/proxima-nova-n4.woff") format("woff");
}

@font-face {
  font-family: Proxima Nova;
  font-weight: 600;
  src: url("../fonts/proxima-nova-n6.woff2") format("woff2"), url("../fonts/proxima-nova-n6.woff") format("woff");
}

html {
  background: #ffffff;
  color: #34495e;
  font-family: Proxima Nova, sans-serif;
  line-height: 1;
}

.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.button {
  background: #bdc3c7;
  border-radius: 0.25em;
  border: 0;
  font-weight: 600;
  min-height: 2.5em;
  min-width: 7.5em;
  padding: 0;
  text-transform: uppercase;
}

.button--submit {
  background: #4aa3df;
  color: #ffffff;
}

.text-input {
  border-radius: 0.25rem;
  border: 0;
  height: 2.5rem;
  padding: 0 0.625rem;
}

.text-input::-webkit-input-placeholder {
  color: #9aa4af;
  opacity: 1;
}

.text-input::-moz-placeholder {
  color: #9aa4af;
  opacity: 1;
}

.text-input:-ms-input-placeholder {
  color: #9aa4af;
  opacity: 1;
}

.text-input::placeholder {
  color: #9aa4af;
  opacity: 1;
}

.header {
  background: #ecf0f1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  padding: 1.25em 2.5em;
}

.main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  overflow: auto;
}

.main__wrap {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  padding: 2.5em 0 0 2.5em;
}

.main__wrap--stretch {
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
              -ms-grid-row-align: stretch;
          align-items: stretch;
}

.toolbar {
  box-shadow: 0 0.125em 0.25em rgba(52, 73, 94, 0.25);
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  padding: 1.25em 2.5em;
}

.device {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  padding: 0 2.5em 2.5em 0;
}

.main__wrap--stretch .device {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.device__wrap {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo {
  margin-right: 2.5em;
}

.logo__type {
  height: 2.5em;
  width: 13.05875em;
}

.source__wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.source__text-input {
  font-size: 1.25em;
  margin-right: 0.625rem;
  width: 30rem;
}

.viewport {
  background-image: linear-gradient(45deg, #ecf0f1 25%, transparent 25%, transparent 75%, #ecf0f1 75%), linear-gradient(45deg, #ecf0f1 25%, transparent 25%, transparent 75%, #ecf0f1 75%);
  background-position: 0 0, 0.5em 0.5em;
  background-size: 1em 1em;
  border: 1px solid #bdc3c7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
}

.main__wrap--stretch .viewport__frame {
  height: auto !important;
  min-height: 100%;
}
/*# sourceMappingURL=styles.css.map */