.device-search {
  padding: 0.625em 1.25em;
}

.device-search__title {
  color: $concrete;
  font-size: 0.875em;
  margin-bottom: 0.625rem;
}

.device-search__text-input {
  background: $clouds;
  width: 100%;
}
