.dropdown {
  background: $white;
  border-radius: 0.25em;
  border: 1px solid $silver;
  box-shadow: 0 0.25em 0.5em rgba($wet-asphalt, 0.25);
  overflow: hidden;
  position: absolute;
  top: 100%;
  z-index: 1;
}
