.main {
  display: flex;
  flex: auto;
  overflow: auto;
}

.main__wrap {
  align-items: flex-start;
  display: flex;
  flex: auto;
  padding: 2.5em 0 0 2.5em;
}

.main__wrap--stretch {
  align-items: stretch;
}
