.screen {
  border-radius: 0.25em;
  border: 1px solid $silver;
  display: flex;
  flex: auto;
  margin-top: 1.25em;
  overflow: hidden;
  position: relative;
}

.screen__viewport {
  .main__wrap--stretch & {
    height: auto !important;
    min-height: 100%; // IE & Edge fix
  }
}
