.search {
  display: flex;
  flex-direction: column;
  padding: 0.625em 1.25em;
}

.search__title {
  color: $concrete;
  font-size: 0.75em;
  margin-bottom: 0.625rem;
}

.search__text-input {
  background: $clouds;
}
