.custom-screen {
  align-items: center;
  background: $clouds;
  display: flex;
  flex-wrap: wrap;
  padding: 0.625em 1.25em;
}

.custom-screen__title {
  color: $concrete;
  font-size: 0.75em;
  margin-bottom: 0.625rem;
  width: 100%;
}

.custom-screen__text-input {
  width: 3.75em;
}

.custom-screen__divider {
  color: $concrete;
  margin: 0 0.3125em;
}

.custom-screen__button {
  margin-left: 0.625em;
}
