#HW_badge_cont {
  align-items: center;
  cursor: pointer !important;
  display: none !important;
  height: 2.5em !important;
  justify-content: center;
  left: 1.25em;
  position: absolute !important;
  top: -1.25em;
  width: 2.5em !important;

  &.HW_visible {
    display: flex !important;
  }
}

#HW_badge {
  background: $alizarin !important;
  border-radius: 50% !important;
  border: 0.1875em solid $clouds;
  box-sizing: content-box;
  color: $white !important;
  cursor: inherit !important;
  display: block !important;
  font-size: 0.875em !important;
  font-weight: 600;
  height: auto !important;
  left: auto !important;
  line-height: 1 !important;
  min-height: 1em;
  min-width: 1em;
  opacity: 0 !important;
  padding: 0.25em;
  position: static !important;
  text-align: center !important;
  top: auto !important;
  transform: scale(0) !important;
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275) !important;
  width: auto !important;

  &.HW_visible {
    opacity: 1 !important;
    transform: scale(1) !important;
  }
}

#HW_frame_cont {
  margin-left: -0.25em;
}

#HW_frame_peak {
  margin-left: 0.5em;
}
