.menu {
  max-height: 20em;
  overflow-y: auto;
}

.menu__section {

}

.menu__title {
  align-items: center;
  color: $concrete;
  display: flex;
  font-weight: 600;
  justify-content: center;
  margin: 0.625em 1.25em;
  text-align: center;
  text-transform: uppercase;

  &::before,
  &::after {
    border-top: 1px solid $silver;
    content: "";
    flex: auto;
  }

  &::before { margin-right: 0.625em; }
  &::after  { margin-left:  0.625em; }
}

.menu-list {
  margin: 0.625em 0;
}

.menu-list__item {
  cursor: pointer;
  padding: 0.625em 1.25em;
  white-space: nowrap;

  &:hover {
    background: $clouds;
  }
}

.menu-list__title {
  margin-bottom: 0.25em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-list__description {
  color: $concrete;
  font-size: 0.75em;
  overflow: hidden;
  text-overflow: ellipsis;
}
