.text-input {
  border-radius: 0.25rem;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;

  &::placeholder {
    color: mix($white, $wet-asphalt, 50%);
    opacity: 1;
  }
}

.text-input--small {
  height: 2em;
  padding: 0 0.5em;
}

.text-input--medium {
  font-size: 1.25em;
  height: 2.5rem;
  padding: 0 0.625rem;
}
